body{
	background-color: #eeeeee;
	padding:10px 5px;

	
}
*{
	box-sizing:border-box;
}
.layui-col-space20{
	margin: 0px;
}
.listbox{
/* 	background: white; */
}
.box{
	overflow: hidden;
	height: 400px;
	background: white;
}
/* 标题 */
.title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	background: white;
	border-bottom: 1px solid #EEEEEE;
	
	
	}
	.title_text{
		color: black;
		font-size: 15px;	
	}
/* 	1.2 */
.ing-item{
	    background-color: white!important;
	}
.item_num{
	background: #00F7DE;
	border-radius: 50%;
	display: block;
	text-align: center;
	line-height: 25px;
	width: 25px;
	height: 25px;
}